.box{
  width: 690px;
  height: 270px;
  color: black;
  top: 70%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  display: flex;
}



.input{
    top: 427px;
    left: 412px;
    height: 35px;
    font-size: 20px;
    line-height: 40px;
    font-family: 'Montserrat', sans-serif;
    display:flex;
    flex-direction:column;
    align-items:center;
    Justify-content: center;
    display: inline-block;
    outline:none;
    padding: 5px;
    font-weight: bold;
    text-indent: 25px;
    text-align: left;
    font: Medium 31px/40px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    width: 300px;
}
.output{
    top: 427px;
    left: 412px;
    height: 35px;
    display:flex;
    padding: 5px;
    margin-left: 15px;
    flex-direction:column;
    align-items:center;
    Justify-content: center;
    display: inline-block;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    line-height: 15px;
    text-indent: 25px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    outline:none;
    width: 300px;
}

.outputselect{
    top: 427px;
    left: 385px;
    width: 315px;
    height: 40px;
    display:inline-block;
    font-weight: bold;
    text-indent: 25px;
    display:flex;
    line-height: 40px;
    margin-left: auto;
    //margin-left: 3%;
    flex-direction:column;
    outline:none;
    align-items:center;
    Justify-content: center;

}
.select{
    top: 427px;
    left: 385px;
    width: 314px;
    height: 40px;
    display:inline-block;
    font-weight: bold;
    text-indent: 25px;
    display:flex;
    line-height: 40px;
    flex-direction:column;
    outline:none;
    align-items:center;
    Justify-content: center;

}

.form{

  overflow-x: auto;
  overflow-y: hidden;;
  display: inline-block;
}

